@import url('https://fonts.googleapis.com/css2?family=Kings&family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,400&display=swap');

/* font-family: 'Fontdiner Swanky', cursive;
font-family: 'Kings', cursive;
font-family: 'Luxurious Roman', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.head .logo img{
    width: 70px;
    height: 70px;
}

.head {
    position: fixed;
    display: flex;
    padding: 10px 200px;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    width: 100%;
    z-index: 2;
}

.head ul{
    margin-left: auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;
}

.head ul a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.head ul a:hover {
    color:rgba(254, 245, 206, 0.8);
}

body {
    background-image: url(images/wallpaper_s1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    top: 0;
    z-index: 1;
    overflow-x:hidden;
}

#home {
    height: 100vh;
}

.text-wrap {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    padding-top: 250px;
    text-align: center;
    color: #fff;
}

#home h1 {
    padding-bottom: 50px;
    font-family: 'Kings', cursive;
    letter-spacing: 5px;;
}

#home q {
    padding: 0 120px;
    font-family: 'Merienda', cursive;
    font-size: 30px;
}


/* H O U S E S */

#houses {
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
}

.houses-wrap img {
    width: 230px;
    height: 230px;
}

#houses h2 {
    text-align: center;
    font-size: 50px;
    padding: 150px 0 100px 0;
    font-family: 'Merienda', cursive;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
}

.houses-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    cursor: pointer;
}

.hog_house {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

.image-overlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    color: white;
    border-radius: 5px;
}

.image-overlay:hover {
    opacity: 1;
    transition: opacity .7s ease-in-out;
}

.emblem:hover {
    opacity: 0;
    transition: opacity .7s ease-in-out;
}

.hog_house q {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
}

.gryffindor q {
    position: absolute;
    top: 95px;
}

.hufflepuff q {
    top: 47px;
}

.ravenclaw q {
    top: 90px;
}

.slytherin q {
    top: 80px;
}


/* Q U O T E S */
.quote {
    background: rgba(65, 65, 114, 0.6);
    width: 100%;
    color: #fff;
    margin-top: 250px;
    font-size: 35px;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: italic;
    padding: 100px 150px;
    line-height: 50px;
}

.quote p {
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    text-align: right;
}


/* I N V I T A T I O N */
#invitation {
    background: rgba(254, 245, 206, 0.9);
    width: 65%;
    margin: 170px 0 100px 300px;
    padding: 50px 70px;
    display: flex;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
    font-family: 'Merienda', cursive;
}

#invitation .text-invitation {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

#invitation .title {
    font-family: 'Lora', serif;
    font-size: 31px;
}

#invitation .body {
    margin-top: 10px;
    font-size: 17px;
}

#invitation .btn {
    background: transparent;
    height: 40px;
    width: 120px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #060680;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Lora', serif;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
}

#invitation .btn:hover {
    background:rgba(65, 65, 114, 0.9);
    color: #fff;
    box-shadow: 2px 2px 10px 0 rgba(6, 6, 128, 0.2);
}

footer {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    letter-spacing: .5px;
}
